trigger: none

pool: akkc_agent

stages:
  - stage: initValidatePlan
    displayName: "Terraform Init Validate Plan"
    jobs:
      - job: initplan
        displayName: "Terraform init plan"
        steps:
          - template: maneesh/initPlan.yml

  - template: maneesh/scanning.yml
  

  # - stage: costEstimation
  #   displayName: "Cost Estimation"
  #   jobs:
  #     - job: costestimate
  #       displayName: "Cost Estimate job"
  #       steps:
  #       - script: |
  #           echo "Running Infracost Estimation..."

  #           # Infracost install (latest version)
  #           curl -fsSL https://raw.githubusercontent.com/infracost/infracost/master/scripts/install.sh | sh

  #           # Terraform init (zaroori hai plan ke liye)
  #           terraform init

  #           # Terraform plan JSON mein save karo
  #           terraform plan -out=tfplan.binary
  #           terraform show -json tfplan.binary > tfplan.json

  #           # Infracost breakdown (cost estimate)
  #           infracost breakdown --path tfplan.json \
  #             --format json --out-file infracost-breakdown.json \
  #             --format html --out-file infracost-breakdown.html

  #           # Summary console mein dikhao (human readable)
  #           infracost breakdown --path tfplan.json --format table

  #           echo "Infracost estimation completed."
  #         displayName: "Infracost Cost Estimation"

  # - stage: manualValidation
  # - stage: apply