---
trigger:
  branches:
    include:
      # - main
      # - features/*
pool:
  name: akkc_agent

variables:
  - group: backend_cred    # variable group name for backend details

# # 1. Initialization and Formatting

stages:
  - stage: terraformInitandfmt
    displayName: "Initialization and Formatting"
    jobs:
      - template: templates/terraform-init.yml
        parameters:
          workingDirectory: '$(working_dir_dev)'
          backendServiceArm: '$(svc_name)'      
          backendRgName: '$(rg_name)'
          backendStorageAccount: '$(stg_name)'
          backendContainerName: '$(blobcontainer_name)'
          backendKey: '$(tfstate_Key)'

